.display-block {
  display: block; }

.margin-tp-10 {
  margin-top: 10px; }

.margin-0 {
  margin: 0; }

.hdn {
  display: none; }

.event {
  background-color: #fff;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(9, 45, 66, 0.25);
  -webkit-box-shadow: 0 1px 0 rgba(9, 45, 66, 0.25);
  box-shadow: 0 1px 0 rgba(9, 45, 66, 0.25);
  cursor: pointer;
  display: block;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0; }

body {
  background: #0079bf; }

.main-controller {
  white-space: nowrap;
  overflow-x: auto; }

.event {
  padding: 6px 18px 6px 8px;
  margin: 4px 0;
  line-height: normal;
  font-size: 14px; }
  .event.over {
    background: #1477ff; }

ul.list-btn {
  padding: 0;
  margin: 0;
  list-style: none;
  background: #fff;
  border-radius: 3px;
  -moz-box-shadow: 0 8px 16px -4px rgba(9, 45, 66, 0.25);
  -webkit-box-shadow: 0 8px 16px -4px rgba(9, 45, 66, 0.25);
  box-shadow: 0 8px 16px -4px rgba(9, 45, 66, 0.25);
  max-height: 200px;
  overflow-y: auto; }
  ul.list-btn li {
    display: block;
    cursor: pointer; }
    ul.list-btn li:hover {
      background: #1477ff;
      color: #fff; }
    ul.list-btn li label {
      padding: 10px; }
      ul.list-btn li label:hover {
        cursor: pointer; }
    ul.list-btn li input[type="radio"] {
      display: none; }

.modal-content {
  background-color: #ebeef0; }

.modal-header {
  border-color: #cdced0; }

em {
  display: inline-block;
  font-size: 12px; }

.is-checked:before {
  content: 'checked'; }

.placeholder {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.13);
  margin: 4px 0; }
