<!DOCTYPE html>
<html lang="en" ng-app="appClass">
<head>
    <meta charset="UTF-8">
    <title>Class</title>
    <link rel="stylesheet" href="./css/style.css">
    <style>
        body {
            background:#fff;
        }
        ul {
            list-style: none;
            cursor: pointer;
        }
        li {
            padding: 4px;
            border: solid 1px;
            width: 240px;
            margin-bottom: 4px;
            line-height: normal;
            background: white;
        }

        .active {
            background: #2196f3;
        }
    </style>
    <script src="./js/class.js"></script>
</head>
<body>
    <div ng-controller="classController as $ctrl">
        <h1>{{title}}</h1>
        <h2>{{name}}</h2>
        <div class="message success"><h2>sdfsd</h2></div>
    </div>


    <div ng-controller="usersController as $userCtrl">
        <h1>{{title}}</h1>
        <h2>{{name}}</h2>
        <button class="btn btn-secondary" ng-click="$userCtrl._addList($event)">Add list</button>
        <ul>
            <li ng-repeat="user in users | orderBy:'name' track by $index" ng-mousedown="movement.drag($event)" data-user="{{user.id}}">
                <span>{{user.name}}{{user.test}}</span> (<em>{{user.email}}</em>)
            </li>
        </ul>
        <div ng-if="addList" ng-include="'/tpl/lists/add.list.form.html'"></div>


        <ul>
            <li data-drag>asdas</li>
            <li data-drag>asdas</li>
            <li data-drag>asdas</li>
            <li data-drag>asdas</li>
            <li data-drag>asdas</li>
        </ul>

    </div>

</body>
</html>